.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ddf1e8;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h2{
    text-align: center;
    font-size:xx-large;
    color: #013222;
  }
  
  .form-group {
    margin-bottom: 20px;
  }

  textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  select,
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  select[multiple] {
    height: 120px;
  }
  
  button[type="save"] {
    text-align: center;
    display: block;
    width: 25%;
    padding: 10px;
    margin: 0 auto;
    background-color: #ca3f3f;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="save"]:hover {
    background-color: #ca3f3f;
  }
  
  .alert {
    margin-top: 10px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }

  th{
    text-align: center;
    color: #fff;
    background-color: #013222;
  }
  
  th, td {
    padding: 10px;
    border: 2px solid #ccc;
    text-align: center;
  }